@font-face {
	font-family: 'Proxima Nova';
	src: url('../font/ProximaNova-Bold.eot');
	src: url('../font/ProximaNova-Bold.eot#iefix') format('embedded-opentype'),
	   url('../font/ProximaNova-Bold.woff') format('woff'),
	   url('../font/ProximaNova-Bold.ttf') format('truetype'),
	   url('../font/ProximaNova-Bold.svg') format('svg');
	src: url('../font/ProximaNova-Regular.eot');
	src: url('../font/ProximaNova-Regular.eot#iefix') format('embedded-opentype'),
	   url('../font/ProximaNova-Regular.woff') format('woff'),
	   url('../font/ProximaNova-Regular.ttf') format('truetype'),
	   url('../font/ProximaNova-Regular.svg') format('svg');
 }

